name: Utkarsh Agrawal

on:
  push:
     branches: [ main ]

jobs:
   demo:
     runs-on: ubuntu-latest

     steps:
      - name: Greetings
        run: echo "Thankyou for pushing the code"

           
           
